.emind-node.active {
  fill: gray;
  stroke: gray;
}

:focus .emind-node.active {
  fill: #428bca;
  stroke: #428bca;
}

.emind-node.active + .emind-text {
  fill: white;
}

textarea.form-control {
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
}
